<main class="home-container">
	<div class="home-sub-container">
		<div class="navbar">
			<a routerLink="/"> <span>vote</span>voyage</a>
			<nav>
				<ul>
					<li>
						<a
							mat-button
							href="#">
							Home
						</a>
					</li>
					<li>
						<a
							mat-button
							href="#">
							Service
						</a>
					</li>
					<li>
						<a
							mat-button
							href="#">
							About Us
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<section class="hero">
			<div class="image-section w-56 rounded-xl">
				<img
					src="images/root/hero.png"
					alt="" />
			</div>
			<div class="cta-section flex flex-col">
				<h1 class="font-bold">Stand up and Be Counted</h1>
				<p>Your Voice, Your Vote: Shape the Future Today!</p>
				<div
					class="cta-buttons flex flex-row mt-5 justify-center md:justify-start items-center gap-4">
					<a
						mat-flat-button
						routerLink="/auth/sign-up"
						>Get started</a
					>
					<a
						mat-stroked-button
						routerLink=""
						>Learn More</a
					>
				</div>
			</div>
		</section>

		<section class="how-it-works-section">
			<h2 class="font-semibold md:text-xl self-start lg:text-2xl">
				How it works:
			</h2>
			<div class="step-container">
				<mat-card class="w-full p-3">
					<div class="count-container">
						<p class="count">1</p>
					</div>
					<div>
						<h3>STEP 1:</h3>
						<p>
							Create an account and build you profile to get
							started
						</p>
					</div>
				</mat-card>
				<mat-card class="bg-gray-300 rounded-lg w-full p-3">
					<div class="count-container">
						<p class="count">2</p>
					</div>
					<div>
						<h3>STEP 2</h3>
						<p>
							Review the ballot and candidate info in your voter
							guide
						</p>
					</div>
				</mat-card>
				<mat-card class="bg-gray-300 rounded-lg w-full p-3">
					<div class="count-container">
						<p class="count">3</p>
					</div>
					<div>
						<h3>STEP 3</h3>
						<p>Cast your vote securely from any device</p>
					</div>
				</mat-card>
				<mat-card class="bg-gray-300 rounded-lg w-full p-3">
					<div class="count-container">
						<p class="count">4</p>
					</div>
					<div>
						<h3>STEP 4</h3>
						<p>
							Results are verified on the blockchain for
							transparency
						</p>
					</div>
				</mat-card>
			</div>
		</section>

		<section
			class="benefits-section flex flex-col gap-4 w-full justify-center md:items-start items-center">
			<h2>Benefits:</h2>
			<ol class="flex flex-col gap-4">
				<li>
					1. Increased voter turnout, especially among youth and busy
					professionals.
				</li>
				<li>
					2. Reduced costs compared to traditional voting
					infrastructure.
				</li>
				<li>3. Faster results with real-time reporting.</li>
				<li>
					4. Improved voter engagement through guides and ranked
					choice.
				</li>
			</ol>
		</section>
	</div>
</main>
