# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output frontend
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node frontend
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous frontend
/frontend/.angular/cache
/frontend.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontendtestem.log
/frontend/typings

# System files
.DS_Store
Thumbs.db

# Backend
/backend/.idea
/backend/.venv
