<section
	class="w-full min-h-screen flex flex-col py-20 gap-14 px-5 bg-pink-200"
>
	<div class="flex flex-row justify-center items-center">
		<img
			src="images/root/anon.png"
			alt="anonymous vote image"
			class="w-1/4 lg:w-1/6"
		/>
		<h1 class="text-base md:text-lg lg:text-xl xl:text-2xl">
			<span class="font-bold">Anonymous Votes: </span>
			Vote anonymously on any poll you want.
		</h1>
	</div>

	<div class="flex flex-row justify-center items-center">
		<h1 class="text-base md:text-lg lg:text-xl xl:text-2xl">
			<span class="font-bold">User Authentication: </span>
			Create an account to vote on polls and create your own polls.
		</h1>
		<img
			class="w-1/4 lg:w-1/6"
			src="/images/root/user-auth.png"
			alt="user authentication"
		/>
	</div>

	<div class="flex flex-row justify-center items-center">
		<img
			class="w-1/4 lg:w-1/6"
			src="/images/root/responsive.png"
			alt="user authentication"
		/>
		<h1 class="text-base md:text-lg lg:text-xl xl:text-2xl">
			<span class="font-bold">Mobile Compatibility: </span>
			Responsive design that works on all devices.
		</h1>
	</div>

	<div class="flex flex-row justify-center items-center">
		<h1 class="text-base md:text-lg lg:text-xl xl:text-2xl">
			<span class="font-bold">Confidentiality and Integrity: </span>
			Your data is safe with us.
		</h1>
		<img
			class="w-1/4 lg:w-1/6"
			src="/images/root/confi-integ.png"
			alt="user authentication"
		/>
	</div>
</section>
