<main class="auth-container">
	<section class="auth-sub-container">
		<img
			src="images/root/otp-image.png"
			alt="
					An illustration that shows two hands from two different phone section
				" />
	</section>
	<section class="auth-section">
		<mat-card appearance="outlined">
			<mat-card-header>
				<mat-card-title> <span>vote</span>voyage </mat-card-title>
				<mat-card-subtitle> One Time Password </mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form
					[formGroup]="otpFormGroup"
					(ngSubmit)="submitOtpForm()">
					<mat-form-field>
						<mat-label>OTP</mat-label>
						<input
							required
							matInput
							autocomplete="off"
							max="9999999"
							min="1000000"
							type="number"
							pattern="[0-9]*"
							formControlName="otp"
							placeholder="1234567"
							maxlength="7"
							minlength="7" />
					</mat-form-field>
					<button
						type="submit"
						mat-flat-button>
						Verify OTP
					</button>
				</form>
			</mat-card-content>
		</mat-card>
	</section>
</main>
