@use './../../../../../styles/base_utilities';
@use './../../../../../styles/mixins' as mixins;
@use './../../../../../styles/variables' as vars;

section {
	@extend %w-full;
	@include mixins.flex(row);
}

.filter-section {
	@extend %w-full;
	@include mixins.gap(vars.$space-4);
	@include mixins.grid(1, auto, 1rem, normal);

	@include mixins.responsive(vars.$breakpoint-md) {
		@include mixins.flex(row, normal, center);
	}
}

.button-with-icon {
	width: auto;
	max-width: fit-content;
	align-self: flex-end;
}

p {
	@extend %font-bold;
}
