<nav>
	<button
		class="menu-button"
		mat-button
		[matMenuTriggerFor]="menu">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<a
			routerLink="/a/home"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>home</mat-icon>
				Home
			</div>
		</a>
		<a
			routerLink="/a/manage-users"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>group</mat-icon>
				Manage Users
			</div>
		</a>
		<a
			routerLink="/a/manage-admins"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>admin_panel_settings</mat-icon>
				Manage Admins
			</div>
		</a>
		<a
			routerLink="/a/manage-elections"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>how_to_vote</mat-icon>
				Manage Elections
			</div>
		</a>
		<a
			routerLink="/a/manage-elections"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>lists</mat-icon>
				Manage Polls
			</div>
		</a>
		<a
			routerLink="/a/monitor-elections"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>bar_chart_4_bars</mat-icon>
				Monitor Elections
			</div>
		</a>
		<a
			routerLink="/a/generate-reports"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>lab_profile</mat-icon>
				Generate Reports
			</div>
		</a>
		<a
			routerLink="/a/settings"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>settings</mat-icon>
				Settings
			</div>
		</a>
		<button
			(click)="logoutCurrentSession()"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>logout</mat-icon>
				Logout
			</div>
		</button>
	</mat-menu>

	<div class="large-nav">
		<a
			routerLink="/a/home"
			mat-button
			class="large-links"
			matTooltip="Home">
			<mat-icon>home</mat-icon>
		</a>
		<a
			routerLink="/a/manage-users"
			mat-button
			class="large-links"
			matTooltip="Manage Users">
			<mat-icon>group</mat-icon>
		</a>
		<a
			routerLink="/a/manage-admins"
			mat-button
			class="large-links"
			matTooltip="Manage Admins">
			<mat-icon>admin_panel_settings</mat-icon>
		</a>
		<a
			routerLink="/a/manage-elections"
			mat-button
			class="large-links"
			matTooltip="Manage Elections">
			<mat-icon>how_to_vote</mat-icon>
		</a>
		<a
			routerLink="/a/manage-elections"
			mat-button
			class="large-links"
			matTooltip="Manage Polls">
			<mat-icon>lists</mat-icon>
		</a>
		<a
			routerLink="/a/monitor-elections"
			mat-button
			class="large-links"
			matTooltip="Monitor Elections">
			<mat-icon>monitoring</mat-icon>
		</a>
		<a
			routerLink="/a/generate-reports"
			mat-button
			class="large-links"
			matTooltip="Generate Reports">
			<mat-icon>lab_profile</mat-icon>
		</a>
		<a
			routerLink="/a/settings"
			mat-button
			class="large-links"
			matTooltip="Settings">
			<mat-icon>settings</mat-icon>
		</a>
		<button
			(click)="logoutCurrentSession()"
			mat-button
			class="large-links"
			matTooltip="Logout">
			<mat-icon>logout</mat-icon>
		</button>
	</div>
</nav>
