<main class="min-h-screen flex flex-row w-full">
	<div class="w-1/2 min-h-fit bg-black hidden lg:block"></div>
	<div class="w-full lg:w-1/2 grid place-content-center relative">
		<a
			class="absolute top-4 right-4 p-4 hover:bg-slate-300 rounded-xl transition-all"
			routerLink="/sign-up"
			>Create an account</a
		>
		<app-reusable-card
			title="Login"
			className="m-10 p-7 bg-white border rounded-lg"
			description="Login with your credentials."
		>
			<form
				class="w-full px-4 flex flex-col gap-3 justify-center items-center"
			>
				<div class="mb-4 w-full">
					<label
						for="email"
						class="block text-gray-700 text-sm md:text-base font-bold mb-2"
						>Email</label
					>
					<input
						class="w-full border-2 rounded-xl p-3 border-gray-400 focus:border-secondary focus:outline-none focus:shadow-outline"
						placeholder="your.email@example.com"
						type="email"
						id="email"
					/>
				</div>
				<div class="mb-6 w-full">
					<label
						for="password"
						class="block text-gray-700 text-sm md:text-base font-bold mb-2"
						>Password</label
					>
					<input
						class="w-full border-2 rounded-xl p-3 border-gray-400 focus:border-secondary focus:outline-none focus:shadow-outline"
						minlength="8"
						placeholder="********"
						type="password"
						id="password"
					/>
				</div>
				<a
					class="text-secondary font-semibold hover:underline"
					routerLink="forgot-password"
					>Forgot your password?</a
				>
				<button
					class="bg-primary text-white font-bold py-2 px-9 rounded-xl focus:outline-none focus:shadow-outline"
					type="submit"
				>
					Login
				</button>
			</form>
		</app-reusable-card>
	</div>
</main>
