<main
	class="min-h-screen flex md:flex-row justify-center items-center w-full relative">
	<div class="w-1/2 min-h-screen bg-black hidden relative lg:block">
		<a
			class="font-bold text-white text-lg absolute top-5 left-5"
			routerLink="/">
			<span class="text-primary">vote</span>voyage
		</a>
	</div>
	<div class="w-11/12 lg:w-1/2 flex justify-center items-center">
		<mat-card
			class="w-11/12 max-w-md"
			appearance="outlined">
			<mat-card-header>
				<mat-card-title class="font-bold font-primary"
					>Sign Up</mat-card-title
				>
				<mat-card-subtitle class="font-normal font-primary"
					>Create an account</mat-card-subtitle
				>
			</mat-card-header>
			<mat-card-content>
				<form
					(ngSubmit)="onSignUpFormSubmit()"
					[formGroup]="signUpFormGroup">
					<mat-form-field class="w-full mt-2">
						<mat-label>First Name</mat-label>
						<input
							required
							type="text"
							aria-label="First Name"
							autocomplete="given-name"
							formControlName="firstName"
							matInput
							placeholder="ex.: Juan" />
					</mat-form-field>
					<mat-form-field class="w-full">
						<mat-label>Last Name</mat-label>
						<input
							required
							aria-label="Last Name"
							autocomplete="family-name"
							type="text"
							formControlName="lastName"
							matInput
							placeholder="ex.: Dela Cruz" />
					</mat-form-field>
					<mat-form-field class="w-full mt-2">
						<mat-label>Birth Date</mat-label>
						<input
							min="1900-01-01"
							autocomplete="bday"
							required
							matInput
							[max]="maximumDate"
							[matDatepicker]="picker"
							formControlName="birthday" />
						<mat-hint>YYYY-MM-DD</mat-hint>
						<mat-datepicker-toggle
							matIconSuffix
							[for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<mat-form-field class="w-full mt-2">
						<mat-label>Email</mat-label>
						<input
							required
							autocomplete="email"
							type="email"
							formControlName="email"
							matInput
							placeholder="ex.: someone@example.com" />
					</mat-form-field>
					<mat-form-field class="w-full mt-2">
						<mat-label>Password</mat-label>
						<input
							required
							autocomplete="new-password"
							formControlName="password"
							matInput
							#passwordField
							min="8"
							minlength="8"
							placeholder="********" />
					</mat-form-field>
					<mat-form-field class="w-full">
						<mat-label>Confirm Password</mat-label>
						<input
							required
							autocomplete="new-password"
							type="password"
							formControlName="confirmPassword"
							matInput
							min="8"
							minlength="8"
							placeholder="********" />
					</mat-form-field>
					<mat-error
						*ngIf="signUpFormGroup.hasError('passwordMismatch')">
						Passwords do not match
					</mat-error>
					<mat-checkbox
						formControlName="showPassword"
						class="mt-2"
						aria-label="Show password"
						>Show Password</mat-checkbox>
					<button
						mat-flat-button
						type="submit">
						Sign Up
					</button>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</main>
