@use 'mixins.scss' as mixins;
@use 'variables.scss' as vars;
@use './../styles.scss' as styles;

.auth-container {
	@extend .container;
	@include mixins.flex(column, center, center);

	.auth-sub-container {
		@extend .responsive-container;
		@include mixins.flex(column, space-between, center);

		@include mixins.responsive(vars.$breakpoint-lg) {
			flex-direction: row;
		}

		.image-section {
			display: none;
			@include mixins.width(vars.$width-half);

			@include mixins.responsive(vars.$breakpoint-lg) {
				@include mixins.flex(row, center, center);
			}

			img {
				display: block;
				@include mixins.size(vars.$width-full);
				@include mixins.height(auto);
			}
		}

		.auth-section {
			@include mixins.flex(column, center, center);
			@include mixins.width(vars.$width-full);
			min-height: 100vh;
			@include mixins.responsive(vars.$breakpoint-lg) {
				@include mixins.width(vars.$width-half);
			}

			mat-card {
				@include mixins.max-width(vars.$max-width-screen-sm);
				@include mixins.width(vars.$width-responsive);
				@include mixins.flex(column, center, center);
				@include mixins.gap(1rem);
				@include mixins.p(0.5rem);
				@include mixins.responsive(vars.$breakpoint-md) {
					@include mixins.p(1.5rem);
					@include mixins.gap(1.5rem);
				}

				mat-card-header {
					@include mixins.flex(column, center, center);
					mat-card-title {
						font-weight: 800;
						@include mixins.text-size(vars.$font-xl);
						text-align: center;
						span {
							@extend .primary-color;
						}
					}

					mat-card-subtitle {
						font-weight: 600;
						text-align: center;
						@include mixins.text-size(vars.$font-lg);
					}
				}

				mat-card-content {
					@include mixins.width(vars.$width-full);
					form {
						@include mixins.width(vars.$width-full);
						@include mixins.flex(column, center, center);
						@include mixins.gap(1rem);
						@include mixins.responsive(vars.$breakpoint-md) {
							@include mixins.gap(1.5rem);
						}

						mat-form-field {
							@include mixins.width(vars.$width-full);
						}

						button,
						a {
							@include mixins.width(fit-content);
						}
					}
				}
			}
		}
	}
}
