<div
	class="flex flex-col gap-3 border-gray-300 rounded-xl border bg-card text-card-foreground shadow"
	[ngClass]="className"
>
	<div class="flex flex-col gap-2">
		<div *ngIf="cardTitle" class="w-full">
			<h1
				class="text-lg md:text-xl lg:text-2xl font-bold leading-none tracking-tight"
			>
				{{ cardTitle }}
			</h1>
		</div>

		<div *ngIf="cardDescription" class="text-base">
			<p class="font-normal text-muted-foreground text-sm md:text-base">
				{{ cardDescription }}
			</p>
		</div>
	</div>

	<div class="card-content">
		<ng-content></ng-content>
	</div>

	<div *ngIf="cardFooter">
		{{ cardFooter }}
	</div>
</div>
