<main class="auth-container">
	<div class="auth-sub-container">
		<section class="image-section">
			<img
				src="images/root/login-image.png"
				alt="
					An illustration of phone with profile in a screen an person icon
				" />
		</section>
		<section class="auth-section">
			<mat-card appearance="outlined">
				<mat-card-header>
					<mat-card-title> <span>vote</span>voyage </mat-card-title>
					<mat-card-subtitle>Login to your account</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<form
						(ngSubmit)="submitLogInForm()"
						[formGroup]="loginFormGroup">
						<mat-form-field>
							<mat-label>Email</mat-label>
							<input
								required
								autocomplete="email"
								type="email"
								formControlName="email"
								matInput
								placeholder="someone@example.com" />
							<mat-error
								*ngIf="
									loginFormGroup.hasError('required', 'email')
								">
								Email is required
							</mat-error>
							<mat-error
								*ngIf="
									loginFormGroup.hasError('email', 'email')
								">
								Please enter a valid email address
							</mat-error>
						</mat-form-field>
						<mat-form-field>
							<mat-label>Password</mat-label>
							<input
								required
								autocomplete="current-password"
								[type]="showPassword ? 'text' : 'password'"
								formControlName="password"
								matInput
								min="8"
								minlength="8"
								placeholder="********" />
							<mat-error
								*ngIf="
									loginFormGroup.hasError(
										'required',
										'password'
									)
								">
								Password is required
							</mat-error>
							<mat-error
								*ngIf="
									loginFormGroup.hasError(
										'minlength',
										'password'
									)
								">
								Password must be at least 8 characters
							</mat-error>
						</mat-form-field>
						<mat-checkbox
							(click)="togglePasswordVisibility()"
							formControlName="showPasswordCheckbox"
							aria-label="Show password"
							>Show Password</mat-checkbox
						>
						<button
							[disabled]="isLoggingIn"
							mat-flat-button>
							Login
						</button>
						<a
							mat-stroked-button
							routerLink="/auth/forgot-password"
							>Forgot your password?</a
						>
						<a
							mat-stroked-button
							routerLink="/auth/sign-up"
							>Create an account</a
						>
					</form>
				</mat-card-content>
			</mat-card>
		</section>
	</div>
</main>
