<main class="auth-container">
	<div class="auth-sub-container">
		<section class="image-section">
			<img
				src="images/root/login-image.png"
				alt="
					An illustration of phone with profile in a screen an person icon
				" />
		</section>
		<section class="auth-section">
			<mat-card appearance="outlined">
				<mat-card-header>
					<mat-card-title> <span>vote</span>voyage </mat-card-title>
					<mat-card-subtitle>Login to your account</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<mat-stepper
						linear="true"
						#stepper
						orientation="vertical">
						<mat-step
							[stepControl]="loginFormGroup"
							state="fingerprint">
							<form
								class="login-form"
								[formGroup]="loginFormGroup"
								(ngSubmit)="submitLoginForm(stepper)">
								<ng-template matStepLabel>
									Enter your account email and password
								</ng-template>
								<mat-form-field>
									<mat-label> Email </mat-label>
									<input
										matInput
										placeholder="someone@example.com"
										formControlName="email"
										required />
									<mat-error
										*ngIf="
											loginFormGroup.hasError(
												'required',
												'email'
											)
										"
										>Email is required</mat-error
									>
									<mat-error
										*ngIf="
											loginFormGroup.hasError(
												'email',
												'email'
											)
										"
										>Please enter a valid email
										address</mat-error
									>
								</mat-form-field>
								<mat-form-field>
									<mat-label> Password </mat-label>
									<input
										required
										autocomplete="current-password"
										[type]="
											showPassword ? 'text' : 'password'
										"
										formControlName="password"
										matInput
										min="8"
										minlength="8"
										placeholder="********" />
									<mat-error
										*ngIf="
											loginFormGroup.hasError(
												'minlength',
												'password'
											)
										">
										Password must be at least 8 characters
									</mat-error>
									<mat-error
										*ngIf="
											loginFormGroup.hasError(
												'required',
												'password'
											)
										">
										Password is required
									</mat-error>
								</mat-form-field>
								<div class="login-button-container">
									<div>
										<mat-checkbox
											(click)="togglePasswordVisibility()"
											formControlName="showPasswordCheckbox"
											aria-label="Show password"
											>Show Password</mat-checkbox
										>
										<a
											mat-button
											routerLink="/auth/forgot-password"
											>Forgot your password?</a
										>
									</div>
									<div>
										<button
											[disabled]="isProcessing"
											mat-flat-button
											type="submit">
											Next
										</button>
										<a
											mat-button
											routerLink="/auth/sign-up"
											>Create an account</a
										>
									</div>
								</div>
							</form>
						</mat-step>
						<mat-step
							[stepControl]="otpFormGroup"
							state="key">
							<form
								class="otp-form"
								[formGroup]="otpFormGroup"
								(ngSubmit)="submitOtpForm()">
								<ng-template matStepLabel>
									Enter the OTP sent to your email
								</ng-template>
								<mat-form-field>
									<mat-label> One Time Password </mat-label>
									<input
										required
										matInput
										autocomplete="off"
										max="9999999"
										min="1000000"
										type="number"
										formControlName="otp"
										placeholder="1234567"
										maxlength="7"
										minlength="7" />
									<mat-error
										*ngIf="
											otpFormGroup.hasError(
												'required',
												'otp'
											)
										"
										>OTP is required</mat-error
									>
									<mat-error
										*ngIf="
											otpFormGroup.hasError(
												'maxlength',
												'otp'
											)
										"
										>OTP must be 7 digits</mat-error
									>
									<mat-error
										*ngIf="
											otpFormGroup.hasError(
												'minlength',
												'otp'
											)
										">
										OTP must be 7 digits
									</mat-error>
								</mat-form-field>

								<div class="otp-button-container">
									<button
										[disabled]="isProcessing"
										type="submit"
										mat-flat-button>
										Verify OTP
									</button>
									<button
										[disabled]="isProcessing"
										(click)="resendOTP()"
										type="button"
										mat-button>
										Resend OTP
									</button>
								</div>
							</form>
						</mat-step>
					</mat-stepper>
				</mat-card-content>
			</mat-card>
		</section>
	</div>
</main>
