<nav>
	<button
		mat-button
		[matMenuTriggerFor]="menu">
		<mat-icon> menu </mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<a
			class="links"
			routerLink="/u/home"
			mat-menu-item>
			<div>
				<mat-icon>home</mat-icon>
				Home
			</div>
		</a>
		<a
			class="links"
			routerLink="/u/vote"
			mat-menu-item>
			<div>
				<mat-icon>how_to_vote</mat-icon>
				Vote
			</div>
		</a>
		<a
			class="links"
			routerLink="/u/voting-instructions"
			mat-menu-item>
			<div>
				<mat-icon>menu_book</mat-icon>
				Voting Instructions
			</div>
		</a>
		<a
			class="links"
			routerLink="/u/view-ballot"
			mat-menu-item>
			<div>
				<mat-icon>visibility</mat-icon>
				View Ballot
			</div>
		</a>
		<a
			class="links"
			routerLink="/u/voting-status"
			mat-menu-item>
			<div>
				<mat-icon>timeline</mat-icon>
				View Voting Status
			</div>
		</a>
		<a
			class="links"
			routerLink="/u/contact-us"
			mat-menu-item>
			<div>
				<mat-icon>contact_phone</mat-icon>
				Contact Us
			</div>
		</a>
		<a
			class="links"
			routerLink="/u/settings"
			mat-menu-item>
			<div>
				<mat-icon>settings</mat-icon>
				Settings
			</div>
		</a>
		<button
			(click)="logoutCurrentSession()"
			mat-menu-item
			class="links">
			<div>
				<mat-icon>logout</mat-icon>
				Logout
			</div>
		</button>
	</mat-menu>

	<div class="large-nav">
		<a
			routerLink="/u/home"
			mat-button
			matTooltip="Home">
			<mat-icon> home </mat-icon>
		</a>
		<a
			routerLink="/u/vote"
			mat-button
			matTooltip="Vote">
			<mat-icon> how_to_vote </mat-icon>
		</a>
		<a
			routerLink="/u/voting-instructions"
			mat-button
			matTooltip="Voting Instructions">
			<mat-icon> menu_book </mat-icon>
		</a>
		<a
			routerLink="/u/view-ballot"
			mat-button
			matTooltip="View Ballot">
			<mat-icon> visibility </mat-icon>
		</a>
		<a
			routerLink="/u/voting-status"
			mat-button
			matTooltip="View Voting Status">
			<mat-icon> timeline </mat-icon>
		</a>
		<a
			routerLink="/u/contact-us"
			mat-button
			matTooltip="Contact Us">
			<mat-icon> contact_phone </mat-icon>
		</a>
		<a
			routerLink="/u/settings"
			mat-button
			matTooltip="Settings">
			<mat-icon> settings </mat-icon>
		</a>
		<button
			(click)="logoutCurrentSession()"
			mat-button
			matTooltip="Logout">
			<mat-icon> logout </mat-icon>
		</button>
	</div>
</nav>
