<main class="w-full min-h-screen flex flex-col items-center">
	<app-user-navbar class="w-11/12 max-w-screen-2xl"></app-user-navbar>
	<section class="w-full flex flex-col gap-4 justify-center items-center">
		<div class="w-2/3">
			<mat-form-field class="w-full">
				<mat-label>Poll Title</mat-label>
				<input
					matInput
					placeholder="Some fancy title"
					value="Some fancy title" />
			</mat-form-field>
		</div>

		<div class="flex flex-col w-1/2">
			@for (option of pollOptions; track option) {
			<mat-form-field>
				<mat-label> Option {{ option }} </mat-label>
				<input
					placeholder="Option No:{{ option }}"
					matInput
					value="{{ option }}" />
			</mat-form-field>
			}
		</div>
		<button
			mat-fab
			(click)="addOption()"
			extended
			class="w-fit">
			<mat-icon>add_circle</mat-icon>
			New Option
		</button>
		<button
			mat-fab
			(click)="saveUpdatedPoll()"
			extended
			class="w-fit">
			<mat-icon>add_circle</mat-icon>
			Save Changes
		</button>
	</section>
</main>
