@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
input,
button,
label,
a,
span {
	font-family: "Inter", sans-serif !important;
}

/* For bypassing the defined roboto style */
.font-primary {
	font-family: "Inter", sans-serif !important;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
}
