<main class="flex flex-row justify-center items-center w-full min-h-screen">
	<div class="w-1/2 min-h-screen bg-black hidden relative lg:block">
		<a
			class="font-bold text-white text-lg absolute top-5 left-5"
			routerLink="/"
		>
			<span class="text-primary">vote</span>voyage
		</a>
	</div>
	<div class="w-1/2 min-h-screen flex justify-center items-center">
		<mat-card class="w-11/12 max-w-md gap-3" appearance="outlined">
			<mat-card-header>
				<mat-card-title class="font-bold font-primary">
					Forgot Password
				</mat-card-title>
				<mat-card-subtitle class="font-normal font-primary">
					Enter your email address
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form
					(ngSubmit)="submitForgotPasswordForm()"
					class="flex flex-col"
				>
					<mat-form-field>
						<mat-label>Email</mat-label>
						<input
							autocomplete="email"
							type="email"
							matInput
							required
							formControlName="email"
							pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}$"
							placeholder="someone@mail.com"
						/>
					</mat-form-field>
					<button class="w-fit" type="submit" mat-flat-button>
						Reset Password
					</button>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</main>
